#!/usr/bin/env ruby

preprocess do
#  @items.each {|item|  } 
#  item.raw_content = Clarinet.notes 
end

compile '*' do
  if item[:extension] == "haml" 
  end
  case item.identifier
  when "/styles/stylesheet/"
    filter :sass
  when "/"
    filter :haml
    layout 'default' 
  end
end

route '*' do
  if item.binary? 
    if item.identifier.include? '/images/keys/'
      nil
    else
      item.identifier.chop + '.' + item[:extension]
    end
  else
    case item.identifier
    when '/'
      "/index.html" 
    when '/styles/stylesheet/'
      "/styles/stylesheet.css" 
    end
  end
end

layout '*', :haml
