

// Mixin // Class // Traits
// For header, footer, and the in between. 
@import normalize.scss
@import notes.sass
=page-section
  padding-top: 1%
  padding-bottom: 1%
  padding-left: 2% 
  padding-right: 2% 
  overlap-x: hidden 

*
  a 
    text-decoration: none

body
  background: #fffbf3
  font-size: 15
  font-family: georgia, sans
  width: 100%
  text-align: center
  margin-left: auto
  margin-right: auto

  header
    +page-section
    background: #b8473e
    color: #361312
    height: 24em
    a 
      font-style: bold
      color: white
    li
      float: left
  footer
    +page-section
    background: #2E3233
    color: white
    height: 10em
  .post
    +page-section

