// Mixin // Class // Traits
// For header, footer, and the in between. 
@import normalize.scss
@import junction.scss 
@import notes.sass
@import color-profile.sass

=page-section
  padding-top: 1%
  padding-bottom: 1%
  padding-left: 2% 
  padding-right: 2% 
  overlap-x: hidden 

*

body
  background: $bg
  font-size: 15
  font-family: "Junction"
  width: 100%
  text-align: center
  margin-left: auto
  margin-right: auto

  header
    +page-section
    background: $home
    color: white
    font-weight: regular
    height: 34em
    font-align: center
    a 
      font-style: bold
      color: white
    li
      float: left
    h1
      font-weight: normal
      font-size: 10em
      color: white
      margin: 0
    h2
      font-weight: lighter
      font-size: 10em
      color: lighten($home, 12%) 
      margin: 0
  footer
    +page-section
    background: #2E3233
    color: white
    height: 10em
    a 
      text-decoration: none
      padding: 0.2em 1em
      border-bottom: 3px solid $home
      color: white
  .post
    +page-section

