%html{ lang: "en" } 

%head 
  %meta{ charset: "utf-8" } 
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" } 
  %title Charts for Playing Clarinet
  %link{ href:"/images/favicon.png", media: "all", rel: "stylesheet", type: "text/css" } 
  %link{ href:"/styles/stylesheet.css", media: "all", rel: "stylesheet", type: "text/css" } 

%body
  %header
    %ul
      %li  
        %a{ href: "#" } high
  .post 
    %p 
      This page contains the standard fingerings for every note. 
      Starting with the highest. 
  %footer
    %p
      Copyright 2014
    %p
      I've put a lot of hard work into this. 
    %p 
      %a{ href:"#" } Send us your suggestions!
