%html{ lang: "en" } 

%head
  %meta{ charset: "utf-8" } 
  %meta{ name: "viewport", content: "width=device-width; initial-scale = 1.0, user-scalable = no" } 
  %title Fingering, Scales, More
  %link{ href:"/images/favicon.ico", rel: "icon", type: "image/x-icon" } 
  %link{ href:"/styles/stylesheet.css", media: "all", rel: "stylesheet", type: "text/css" } 
  = @items["/tracker/"].compiled_content

%body
  %header
    %h2 Clarinet Charts
    %h1 Scroll down for fingerings. 
  = yield
  %footer
    %p
      Copyright 2014
    %p
      Clarinet Charts
    %p 
      %a{ href:"#" } Send us your suggestions!
