-# coding: utf-8

%div{ class: "note", id: raw_note_name, 
  style: "background: url('/images/fingerings/#{raw_note_name}.png') no-repeat scroll 0% center / 11em auto transparent" } 
  %div{ class: "n-top" } 
    %div{ class: "n-top-left" } 
    %div{ class: "n-top-middle" } 
    %div{ class: "n-top-right" } 
      %h1= note_label
  %div{ class: "n-middle" } 
  %div{ class: "n-lower" } 
    %div{ class: "n-lower-left" } 
    %div{ class: "n-lower-right" } 
