-# coding: utf-8

%div{ class: "note", id: raw_note_name, 
  style: "background: url('/images/fingerings/#{raw_note_name}.png') no-repeat scroll 0% center / 12em auto transparent" } 
  %div{ class: "n-top" } 
    %div{ class: "n-top-left" } 
    %div{ class: "n-top-middle" } 
    %div{ class: "n-top-right" } 
      %h1= note_label
  %div{ class: "n-middle" } 
  %div{ class: "n-lower" } 
    %div{ class: "n-lower-left" } 
    %div{ class: "n-lower-right" } 
      %canvas{ id: raw_note_name + "-canvas" } 
      %script
        = "var canvas = $(\"#{ '#' + raw_note_name + "-canvas" }\")[0]; "

        var renderer = new Vex.Flow.Renderer(canvas,
        Vex.Flow.Renderer.Backends.CANVAS);

        var ctx = renderer.getContext();
        var stave = new Vex.Flow.Stave(10, 0, 500);
        stave.addClef("treble").setContext(ctx).draw();


